@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-0:#05070B;
  --bg-1:#0B1118;
  --brand-primary:#16A34A; /* verde marca */
  --brand-glow:#22C55E;
  --shape-1:#22C55E;
  --shape-2:#60A5FA;
  --shape-3:#A78BFA;
}
html,body{ background:var(--bg-0); }